html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #546e7a;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Roboto-Regular' ;
    font-size: 15px;
    line-height: 24px;
    color: #546e7a;

}

@media(max-width: 720px){
    .container-fluid {
        
        padding: 0 15px;
    }
}

.title{
    color: #566375;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
}
.rate-star{
    display: inline-block; 
    margin-right: 13px;
    
}